body {
    /* height: 100vh; */
    /* background-color: white; */
    /* margin: 0; */
    font-family: Arial, sans-serif;
}

.navbar{
    height: 90px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 150px);
    margin: 0 auto;
    /* margin-top: 30px; */
    /* padding: 10px 30px; */
    font-weight: bold;
    background: linear-gradient(#e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #e3e3e3
            -5px -5px -10px #ffffff;
    border-radius: 20px;
}

.nav-logo{
    color: #ed4c4c;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(#e6e6e6, #ffffff);
box-shadow: 5px 5px 10px #ffffff
        -5px -5px -10px #ffffff;
    transition: all .1s ease-in-out;
}

.nav-item{
    color: #448ebe;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(#e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #ffffff
            -5px -5px -10px #ffffff;
    transition: all .1s ease-in-out;
    
}


.nav-item:hover {
    background-color: #d1e4ff;
    color: #003366;
}

.nav-logo:hover {
    background-color: #d1e4ff;
    color: #003366;
}

.nav-item:active{
    background: linear-gradient(#e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #e3e3e3
            -5px -5px -10px #ffffff;
    transform: scale(.95);
    color: #ac203c;
}

.nav-logo:active{
    background: linear-gradient(#e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #e3e3e3
            -5px -5px -10px #ffffff;
    transform: scale(.95);
    color: #ac203c;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .nav-item {
        margin: 5px 0;
    }
}
a{
    text-decoration: none;
    color: black;
}

.main{
    height: 300px;
    width: 20%;
    display: inline-block;
    /* margin:  2% 6% 2% 6%; */
}

#main{
    margin-top: 5%;
    height: 320px;
    width: 95%;
    display: flex;
    justify-content: space-evenly;

}

#men{
    height: 320px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.yt{
    height: 140px;
    width: 100%;
    display: inline-block;
}

.text{
    height: 160px;
    width: 100%;
    display: flex;
    overflow: scroll
}

.text::-webkit-scrollbar{
    display: none;
}

.fathers{
    height: 300px;
    width: 100%;
    margin-top: 5%;
}

.wp{
    height: 100%;
    width: 40%;
    text-align: center;
    display: inline-block;
}

.wt{

    height: 100%;
    margin-left: 3%;
    width: 55%;
    text-align: center;
    display: inline-block;
    overflow: scroll
}
.wt::-webkit-scrollbar{
    display: none;}

img{
    border-radius: 20%;
}
